In [1]:
import pandas as pd
import numpy as np
from scipy import stats

# visualizing
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

plt.rc('figure', figsize=(13, 10))
plt.rc('font', size=14)

# preparing
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# modeling and evaluating
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, precision_score, recall_score, accuracy_score
from sklearn.metrics import confusion_matrix

# turn off warnings
import warnings
warnings.filterwarnings("ignore")

# acquiring
from env import host, user, password, get_connection

In [2]:
# import helper functions
from acquire import get_telco_data
# from prepare import prep_telco_data, prep_telco_data_all

In [3]:
telco_df = get_telco_data()

In [4]:
telco_df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,payment_type,internet_service_type,contract_type
0,0030-FNXPP,Female,0,No,No,3,Yes,No,3,No internet service,...,No internet service,1,No,2,19.85,57.2,No,Mailed check,None,Month-to-month
1,0031-PVLZI,Female,0,Yes,Yes,4,Yes,No,3,No internet service,...,No internet service,1,No,2,20.35,76.35,Yes,Mailed check,None,Month-to-month
2,0098-BOWSO,Male,0,No,No,27,Yes,No,3,No internet service,...,No internet service,1,Yes,1,19.40,529.8,No,Electronic check,None,Month-to-month
3,0107-WESLM,Male,0,No,No,1,Yes,No,3,No internet service,...,No internet service,1,Yes,1,19.85,19.85,Yes,Electronic check,None,Month-to-month
4,0114-RSRRW,Female,0,Yes,No,10,Yes,No,3,No internet service,...,No internet service,1,Yes,3,19.95,187.75,No,Bank transfer (automatic),None,Month-to-month